{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        async function redirectToCheckout() {
            const response = await fetch("{% url 'stripe_checkout' request_id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            });
            const data = await response.json();
            stripe.redirectToCheckout({sessionId: data.url});
        }
    </script>
</head>
<body>
    <button onclick="redirectToCheckout()">Make Payment</button>
</body>
</html>
